<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>Welcome To My Blogg App</title>
   
</head>
<body>
    
    <%- include('./partials/nav') %>
    
   <p style="text-align: center;font-size:larger">Welcome To My Blog App</p>
   <%- include('./partials/scripts') %>
</body>
</html>
